body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100vw;
    max-width: 100%;
}
.cont {
    background-color: rgb(37, 37, 58);
    width: 100vw;
    margin: auto;
    overflow: hidden;
}
.logo img {
    width: 50px;
    height: 50px;
}
.title {
    font-size: 24px;
    color: yellow;
}
.title-light {
    color: white;
}
.search-box {
    background-color: #fff;
    padding: 5px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.search-box input {
    border: none;
    outline: none;
}

.search-box {
    width: 100%;
}

.user img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}


header .cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.logo,
.search,
.user {
    display: flex;
    align-items: center;
}

.logo {
    flex-grow: 1;
}
.user {
    flex-grow: 1;
    position: relative;
    right: 25px;
    justify-content: flex-end;
    cursor: pointer;
    color: #f4f4f4;
}

.noti {
    color: white;
    padding: 5px 10px;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
}

.search {
    position: relative;
    left: 150px;
}

.fav {
    position: relative;
    right: 150px;
    color: white;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: black;
}
.container {
    position: relative;
    right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 90vw;
    height: fit-content;
}
.blocks:hover {
    background-color: white;
    color: black;
}
.block:hover {
    background-color: white;
    color: black;
}
.main-heading {
    padding: 2rem 0 2rem 0;
}

.content {
    display: flex !important;
    justify-content: space-between;
    width: 100%;
    position: relative;
}
.carousel-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 50;
}
.carousel-heading {
    font-size: 3rem;
    color: #308d46;
    margin-bottom: 1rem;
}
.slideshow {
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 60%;
}
.slideshow-wrapper {
    display: flex;
    width: 400%;
    height: 100%;
    position: relative;
    animation: slideshow 20s infinite;
}
.slide {
    width: 100%;
    height: 100%;
}
.slide-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@keyframes slideshow {
    0% {
        left: 0;
    }
    10% {
        left: 0;
    }
    15% {
        left: -100%;
    }
    25% {
        left: -100%;
    }

    30% {
        left: -200%;
    }
    40% {
        left: -200%;
    }
    45% {
        left: -300%;
    }
    55% {
        left: -300%;
    }
    60% {
        left: -200%;
    }
    70% {
        left: -200%;
    }
    75% {
        left: -100%;
    }
    85% {
        left: -100%;
    }
    90% {
        left: 0%;
    }
}
.slide-btn {
    background-color: #bbb;
    border-radius: 50%;
    border: .2rem solid #d38800;
    width: 1.2rem;
    height: 1.2rem;
    outline: none;
    cursor: pointer;
    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 70;
}
.slide-btn-1 {
    left: 45%;
}
.slide-btn-2 {
    left: 50%;
}
.slide-btn-3 {
    left: 55%;
}
.slide-btn-4 {
    left: 60%;
}
.slide-btn-1:focus~.slideshow-wrapper {
    animation: none;
    left: 0;
}
.slide-btn-2:focus~.slideshow-wrapper {
    animation: none;
    left: -100%;
}
.slide-btn-3:focus~.slideshow-wrapper {
    animation: none;
    left: -200%;
}
.slide-btn-4:focus~.slideshow-wrapper {
    animation: none;
    left: -300%;
}
.slide-btn:focus {
    background-color: #308d46;
}
.suggestions {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: white;
    background-color: black;
}
.block {
    display: flex;
    flex-direction: row;
    flex: 0 0 30%;
    margin-bottom: 1.5rem;
    text-align: center;
    align-items: center;
    background-color: #333;
    border-radius: 5px;
    font-weight: bold;
    font-size: 0.8rem;
    width: 100%;
}
.block img {
    display: flex;
    flex-direction: row;
    width: 30%;
    height: auto;
}
.blocks p {
    display: flex;
    flex-direction: row;
    width: 90%;
    height: auto;
}
.blocks img {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 10%;
    height: auto;
}
.container::-webkit-scrollbar {
    display: none;
}
.container {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.queue {
    color: #c1c1c1;
    width: 100vh;
    height: 100%;
    max-height: 800px;
    margin: 0px 20px 20px 20px;
    padding: 20px;
    background-color: transparent;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    right: auto;
}
.image-row {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}
.image-container {
    position: relative;
    width: 100px;
    overflow: hidden;
    color: #f4f4f4;
    text-align: center;
    font-weight: bold;
    font-size: 0.8rem;
}
.image-container img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    transition: transform 0.3s ease;
    border-radius: 100px;
}
.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
    color: white;
    display: none;
    transition: opacity 0.3s ease;
    opacity: 0;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    padding: 0.5em;
}
.image-container:hover .play-button {
    display: block;
    opacity: 1;
}
.image-container:hover img {
    transform: scale(1.1);
}
.songs {
    position: relative;
    right: 310px;
    font-size: 1.5rem;
    color: #fff;
    font-weight: bolder;
}
.artists {
    position: relative;
    right: 300px;
    font-size: 1.5rem;
    font-weight: bolder;
    color: #fff;
}
.genre {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(13, 13, 34);
}
.genre img {
    width: 180px;
    height: 150px;
    object-fit: cover;
    transition: all 0.3s ease-in-out;
    opacity: 0.7;
    position: relative;
    right: 10px;
    border-radius: 100px;
}
.genre .generes {
    position: relative;
    display: flex;
    flex-direction: row;
}
.genre .generes .play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
    color: white;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}
.genre .generes:hover img {
    opacity: 1;
}
.genre .generes:hover~.generes img {
    opacity: 0.3;
}
.genre .generes:hover .play {
    opacity: 1;
}
.type {
    position: relative;
    right: 350px;
    font-size: 1.5rem;
    font-weight: bolder;
    color: #fff;
}
.typo {
    display: flex;
    justify-content: space-between;
}
.other {
    position: relative;
    width: 30%;
}
.other img {
    width: 225px;
    height: 150px;
    object-fit: cover;
}
.other .text-over-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2rem;
    text-align:center;
}
.bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: black;
    color: white;
    border:#308d46 1px solid;
}
.play {
    display: flex;
    align-items: center;
}
.play i {
    font-size: 24px;
    margin: 0 10px;
    cursor: pointer;
}
.play input[type="range"] {
    width: 300px;
    margin: 0 20px;
    cursor: pointer;
}
.Greet {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
}
.greetings {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.greetings h1 {
    font-size: 24px;
    color: wheat;
    margin-bottom: 10px;
}
.queue {
    max-width: 200px;
    width: 30%;
    height: 100%;
    max-height: 500px;
    margin: 10px 10px;
    padding: 20px;
    background-color: #f0f0f0;
    background-color: transparent;
    border-radius: 8px;
    border-color: green;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow-y: scroll;
}
.queue::-webkit-scrollbar{
    display: none;
}
ul {
    list-style-type: none;
    padding: 0;
}
.play img{
    width: 100px;
    height: auto;
}
.play{
    color: red;
    background-color: black;
}
li {
    margin: 10px 0;
    padding: 10px;
    background-color: #000000;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: seagreen;
}
li:hover {
    background-color: #c1c1c1;
}

@media screen and (max-width: 768px) {
    .container {
        width: 80vw;
    }
    .carousel-heading {
        font-size: 2rem;
    }
    .slide-btn {
        bottom: 5%;
    }
    .image-row {
        flex-direction: column;
        align-items: center;
    }
    .image-container {
        margin-bottom: 1rem;
    }
    .other {
        width: 100%;
    }
    h8{
        position: relative;
        left: 10px;
        font-size: 1rem !important;
    }
    
}
@media screen and (max-width: 500px){
    .container {
        width: 90vw;
    }
    .carousel-heading {
        font-size: 1.5rem;
    }
    .slide-btn {
        bottom: 5%;
    }
    .image-row {
        flex-direction: column;
        align-items: center;
    }
    .image-container {
        margin-bottom: 1rem;
    }
    .other {
        width: 100%;
    }
    h8{
        position: relative;
        left: 20px;
        font-size: 2px !important;
    }
}
@media screen and (max-width: 400px) {
    .container {
        width: 95vw;
    }
    .carousel-heading {
        font-size: 1.2rem;
    }

    .slide-btn {
        bottom: 5%;
    }
    .image-row {
        flex-direction: column;
        align-items: center;
    }
    .image-container {
        margin-bottom: 1rem;
    }

    .other {
        width: 100%;
    }
    h8{
        position: relative;
        left: 20px;
        font-size: 2px;
    } 
}
#both{
    width: 100%;
    display: flex !important;
    justify-content: space-between !important;
    align-items: center;
}
.row {
    display: flex;
    justify-content: space-between;
}
.element {
    flex: 1 1 auto;
    border: 1px solid #000;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    color: white;
}
.imagesss img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    transition: transform 0.3s ease;
}
.imagesss {
    position: relative;
    width: 100px;
    overflow: hidden;
    color: #f4f4f4;
    text-align: center;
    font-weight: bold;
    font-size: 0.8rem;
}
